

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1f242d;
    color: #fff;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a{
    color:white;
    text-decoration: none;
    font-weight: 900;
    margin-left: 35px;
    font-size: 20px;
    display: inline-block;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

nav a::after{
    content:'' ;
    height: 3px;
    width: 0px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav  a:hover:after{
    width: 100%;
    background-color: rgb(231, 229, 227);
}



nav a:hover{
   color: cadetblue; 
}

.logo{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
   
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

    
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }


}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
   
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(inndir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
    .home-container{
        max-width: 600px;
    }
    .home-container h3 {
        font-size: 32px;
        font-weight: 600;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    .home-container h3 span{
        color:rgb(241, 204, 56)
    }
     .home-container h3:nth-last-of-type(2){
     margin-bottom: 30px;



     }
    .home-container h1{
        font-size: 56px;
        font-weight: 600;
        margin: -3px,0;
        opacity: 0;
        animation:slideRight 1s ease forwards;
        animation-delay: 1s;
       

    }
    .home-container p{
      font-size: 20px;
      opacity: 0;
      animation: slideLeft .5s ease forwards;
      animation-delay: 1s;
 }
.home-sci a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
text-decoration: none;
border: 2px solid;
color: white;
font-size: 30px;
margin: 30px 15px 30px 0;
border-radius: 5px;
transition: all 0.5s;


}
.home-sci a:hover{
    background-color: rgb(219, 122, 122);
    transition: all 0.5s;
    box-shadow: 0 0 20px rgb(219, 122, 122) ;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #1f242d;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.8s;

}
.btn-box:hover{
    color: black;
    background-color: white;
    transition: all 0.8s;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 25px whitesmoke;
    

}